<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestDBAddWindowsFormsApp.My.MySettings.radarsitelocationConnectionString"
            connectionString="server=localhost;user id=root;password=doraemon;persistsecurityinfo=True;database=radarsitelocation"
            providerName="MySql.Data.MySqlClient" />
        <add name="TestDBAddWindowsFormsApp.My.MySettings.radarsitelocationConnectionString1"
            connectionString="server=localhost;user id=root;password=doraemon;persistsecurityinfo=True;database=radarsitelocation;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="TestDBAddWindowsFormsApp.My.MySettings.radarsitelocationConnectionString2"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=radarsitelocation;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="TestDBAddWindowsFormsApp.My.MySettings.radarlocationConnectionString"
            connectionString="server=localhost;user id=root;password=doraemon;database=radarsitelocation;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>